{% extends 'admin/base_site.html' %}
{% block content %}
<h1>Thống kê nhà trọ yêu thích</h1>

<ul>
    {% for s in stats %}
    <li>{{ s.motel_name }}: {{ s.like_count }} lượt thích</li>
    {% endfor %}
</ul>

<div style="width: 50%;">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let data = [];
    let labels = [];
    let backgroundColors = [];


    {% for s in stats %}
    data.push({{ s.like_count }});
    labels.push('{{ s.motel_name }}');
    backgroundColors.push(`hsl(${Math.random() * 360}, 60%, 50%)`);
    {% endfor %}

    window.onload = function() {
        const ctx = document.getElementById('myChart').getContext('2d');

        new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Lượt thích nhà trọ',
                    data: data,
                    borderWidth: 1,
                    backgroundColor: backgroundColors,
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: false }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
</script>

{% endblock %}